---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: { desc: string; href: string; title: string }[] = [
	{
		desc: "Build fast websites, faster.",
		href: "https://astro.build",
		title: "Astro",
	},
	{
		desc: "Rapidly build modern websites without ever leaving your HTML.",
		href: "https://tailwindcss.com",
		title: "Tailwind CSS",
	},
	{
		desc: "Simple and easy-to-use markup language.",
		href: "https://www.markdownguide.org/",
		title: "Markdown",
	},
	{
		desc: "Markdown for the component era.",
		href: "https://mdxjs.com/",
		title: "MDX",
	},
	{
		desc: "Generating png Open Graph images for blog posts.",
		href: "https://github.com/vercel/satori",
		title: "Satori",
	},
	{
		desc: "A fully static search library.",
		href: "https://pagefind.app/",
		title: "Pagefind",
	},
	{
		desc: "An easy to use Icon component for Astro.",
		href: "https://github.com/natemoo-re/astro-icon#readme",
		title: "Astro Icon",
	},
	{
		desc: "Highly customisable source code & syntax highlighter",
		href: "https://expressive-code.com/",
		title: "Expressive Code",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<p class="mb-4">PPG Prajabatan 2024 - Gempita Rizki Ramadhan</p>
		<SocialList />
	</section>
	<section>
		<div role="status" class="h2 max-w-sm animate-pulse">
			<h2 class="text-black-600 title mb-4 text-xl font-bold">Reminder</h2>
			<div
				class="mb-4 h-2.5 w-48 rounded-full bg-gray-200 text-center text-sm text-gray-800 dark:bg-gray-700 dark:text-gray-300"
			>
				Layaknya Seorang Lelaki
			</div>
			<div
				class="mb-2.5 h-2 max-w-[360px] rounded-full bg-gray-200 text-center text-sm text-gray-800 dark:bg-gray-700 dark:text-gray-300"
			>
				berjuanglah <span class="font-semibold text-red-600">Sehancur-hancurnya</span>
			</div>
			<div
				class="mb-2.5 h-2 rounded-full bg-gray-200 text-center text-sm text-gray-800 dark:bg-gray-700 dark:text-gray-300"
			>
				<span class="text-white-600 font-semibold">INGAT</span>
			</div>
			<div
				class="mb-2.5 h-2 max-w-[330px] rounded-full bg-gray-200 text-center text-sm text-gray-800 dark:bg-gray-700 dark:text-gray-300"
			>
				<span class="font-semibold text-red-600">SEHANCUR-HANCURNYA</span>
			</div>
			<div class="mb-2.5 h-2 max-w-[300px] rounded-full bg-gray-200 dark:bg-gray-700"></div>
		</div>
	</section>
	<section aria-label="Blog post list">
		<h2 class="title mb-4 text-xl">Recent . . .</h2>
		<div class="grid gap-4">
			<div class="grid grid-cols-5 gap-4">
				<figure>
					<a href="https://blog-ppg.vercel.app/tags/filosofipendidikanindonesia/" target="_blank">
						<img
							class="h-auto max-w-full rounded-lg"
							src="/Filosofi.png"
							alt="Filosofi Pendidikan"
						/>
					</a>
				</figure>
				<figure>
					<a href="https://blog-ppg.vercel.app/tags/computationalthinking/" target="_blank">
						<img
							class="h-auto max-w-full rounded-lg"
							src="/Computational.png"
							alt="Computational Thinking"
						/>
					</a>
				</figure>
				<figure>
					<a href="https://blog-ppg.vercel.app/tags/pemahamantentangpesertadidik/" target="_blank">
						<img
							class="h-auto max-w-full rounded-lg"
							src="/Pemahaman.png"
							alt="Pemahaman tentang Peserta Didik"
						/>
					</a>
				</figure>
				<figure>
					<a href="https://blog-ppg.vercel.app/tags/prinsippengajarandanasesmen/" target="_blank">
						<img
							class="h-auto max-w-full rounded-lg"
							src="/Prinsip.png"
							alt="Prinsip Pengajaran dan Asesmen"
						/>
					</a>
				</figure>
				<figure>
					<a href="https://blog-ppg.vercel.app/tags/teknologibarudalampengajaran/" target="_blank">
						<img
							class="h-auto max-w-full rounded-lg"
							src="/Teknologi.png"
							alt="Teknologi Baru dalam Pengajaran"
						/>
					</a>
				</figure>
			</div>
		</div>
	</section>
</PageLayout>
